<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mi Tienda</title>
  <style>
    .oferta { color: red; font-weight: bold; }
  </style>
</head>
<body>
  {{{ body }}}
</body>
</html>
